*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* css chung */
html{
    font-family: 'Quicksand', sans-serif;
}
.text-center{
    text-align: center !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-footer {
    width: 370px;
    padding: 0 16px;
}
.col-bottom {
    flex: 33.3333%;
  max-width:33.3333% ;
}
.col-qv {
    flex: 0 0 50%;
    max-width: 50%;
    padding:0 2px;
}
/* css header */
#main{

}
#header-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}
#header-top .header-content{
    color: #050505;
    font-size: 12px;
    margin: 0;
    padding: 9px 0;
    border: 1px solid #ccc;  
    background-color: #fff;
}


#header-body {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
    width: 122px;
}

.logo {
    width: 100%;
}
#nav li {
    display: inline-block;
    position: relative;
}
#nav ul{
list-style-type: none;

}

#nav li a {
    text-decoration: none;
    color: #050505;
    font-size: 16px;
    padding: 9px 16px;

}
#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a,
#nav .nav-arrow-down:hover {
    color:#f56200; 
    background: #fff;
}
#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    left: 16px;
    right: 4px;
    
}
#nav .subnav a{
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0px;
    width: 100%;
}
.icon-btn {
    padding: 9px 9px;
    width: 10%;
    cursor: pointer;
}

#nav .nav-arrow-down{
    font-size: 12px;
    font-weight: 500;
    color: #000;
}
/* slider */
#slider {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    margin-top: 130px;
    transition: 0.3s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.dot-container{
    position: absolute;
    height: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.dot {
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}
/* sản phẩm mới và sản phẩm bán chạy */

.new-products-title .title:hover {
    color: #007ff5;
}
.new-products-title{
    padding: 50px 15px;
}
.new-products-title .title {
    text-decoration: none;
    text-transform: uppercase;
    font-size:2.643rem;
    color: #050505;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
    font-weight: 500;
}
.new-products-content {
    margin-top: 20px;
    justify-content: space-between;
    
}
.new-products-content-item {
    width: 255px;
    text-align: center;
    border-bottom: 1px solid #cccc;
    padding: 20px 0;
}

.new-products-content-item h3:hover {
    color: #007ff5;
    cursor: pointer;
}

.new-products-content-item h3 {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 6px;
    color: #050505;
}
.new-products-content-item img {
   width:100%;
   margin: 6px 12px;
}
.new-products-content-item p {
    color: red;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}
.new-products-content-item:hover  .qv {
    display: block;
}
.qv {
   margin-top: 10px;
   display: none;
}
.qv a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.buy-view {
    border: 1px solid #000;
    background-color: #000;
    margin: 0 3px;
    display: inline-block;
    padding: 10px 12px;
}


/* tin tức */
.new-products-content-tintuc {
    width: 379px;
    height: 200px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #cccc;
}
.new-products-content-tintuc img {
    width: 100%;
    object-fit: cover;
    padding: 0 12px;
}
.new-products-content-tintuc h3:hover {
    color: #007ff5;
    cursor: pointer;
}
.new-products-content-tintuc h3 {
    color: #050505;
    margin-top: 12px;
    transition: all ease 0.3s;
    background-color: transparent;
    font-size: 1.514rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4;
    text-align: left;
    padding: 6px 6px;
}
.new-products-content-tintuc p {
    font-size: 16px;
    color: #050505;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 6px 6px;
    font-weight: 500;
}
.new-products-content-tintuc p a {
    text-decoration: none;
    color: #a71d2a !important;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
/* sytem store  */
.sytem-store {
    width: 100%;
    height: 100vh;
    background-image: url(https://scontent.fpnh22-2.fna.fbcdn.net/v/t1.18169-9/24796719_917573488397925_7972656416309962776_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=e3f864&_nc_ohc=gLAB2ujmsqsAX-Xueb3&_nc_ht=scontent.fpnh22-2.fna&oh=5515d34003494031f22bc7118a0c5be8&oe=6124668B);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 280px;
    position: relative;
    background-attachment: fixed;
}
.text-store a {
   color: #fff;
   font-size: 40px;
    position: absolute;
    text-decoration: none;
    display: block;
    top: 50%;
    right: 33.3333%;
    font-family: 'Quicksand', sans-serif;
}
/* footer subscribe  */
.section-footer {
    width: 100%;
    height: 460px;
}
.footer-subscribe {
  padding:35px 0;
  background-color: #cccc;
  width: 100%;

}
.col-12 {
    position: relative !important;
    left: 33.3333%;
}
#footer-subscribe-email {
    width: 100%;
    height: 45px;
    padding: 5px 201px 5px 20px;
    letter-spacing: -0.5px;
    border: 1px solid #bfc7c7;
    color: #cccc;
    font-weight: 500;
}
#footer-subscribe-submit:hover {
    background-color:#fff;
    color: #050505;
    cursor: pointer;
    transition: 0.5s;
}
#footer-subscribe-submit {
    position: absolute;
    top: 0;
    right: -30%;
    height: 45px;
    padding: 10px 32px;
    background: 0 0;
    border: 1px solid #050505;
    color: #fff;
}
/* footer bottom */
.footer-bottom {
    width: 100%;
    padding: 12px;
    
}
.footer-company,
.footer-custumer,
.footer-social,
.footer-store {
    padding: 10px;
    line-height: 1.4;
}
.footer-content li {
   list-style-type: none;
}
.footer-content li a {
    text-decoration: none;
   line-height: 1.6;
    color: #050505;
    font-weight: 500;
 
}
h4.footer-title {
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    color: #050505;
    padding: 10px 0;
}
.footer-content a:hover {
    color:#007ff5;
}
.footer-custumer> .footer-content:hover {   
    cursor: pointer;
}
 .img-bct {  
     width: 145px;
     margin: 15px 0 0 -7px;
    
}
/*............................ product......................... */
/* product top  */
.product{
    padding: 150px 0;
}
.product-top {
    margin-bottom: 30px;
}
.product-top p {
    font-family: 'Quicksand', sans-serif;
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left {
    width: 60%;
}


.product-content-left-big-img {
    width: 90%;
    padding-left: 20px;
}
.product-content-left-small-img {
    width: 10%;
}
.product-content-left-big-img img {
    width: 100%;
}
.product-content-left-small-img img {
    width: 100%;
}
/* product ringt  */
.product-content-right {
    width: 40%;
    padding-left: 20px;
}
.product-content-right-product-name h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px; 
}
.product-content-right-product-name span {
    color: #ccc;
    font-size: 12px;
}
.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;  
    font-family: 'Quicksand', sans-serif;
    color: #ccc;
    border-bottom: 1px solid #ccc;
}
.product-content-right-product-color p {
    font-family:'Quicksand', sans-serif; 
    font-size: 16px;
    font-weight: bold;
}

.product-content-right-product-color img {
    width: 30px;
    height: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
}
.product-content-right-product-color-img  {
    width:100%;
    height: 30px;
    display: flex;
}

.roduct-content-right-product-size {
    margin-top: 100px;
}
.size span:hover {
    border: 1px solid #050505;
    transition: 0.3s;
}

.size span {
    display: inline-block;
    background: #fff;
    min-width: 40px;
    height: 40px;
    margin: 5px 1% 5px 0;
    line-height: 40px;
    position: relative;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    color: #252a2b;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding: 0 4px;
}
.hd-chonsize a:hover,
.product-content-right-product-button button:hover {
    color: #fcd203;
    background: 0 0;
}
.hd-chonsize {
   width: 100%;
}
.hd-chonsize a {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    padding: 10px 15px;
    line-height: 22px;
    width: 60%;
    float: left;
    margin-right: 2%;
    cursor: pointer;
    position: relative;
    color: #000;
    border: 1px solid #fcd203;
   text-decoration: none;
   background-color: #fcd203;
   text-align: center;
    display: block;
    transition: all 0.5s ease;
}
.quantity {
    margin-top: 60px;
    display: flex;
}
.quantity > p {
    padding-right: 6px;
}
.quantity input{
    width: 50px;
    padding-right: 6px;
}
.product-content-right-product-button {
    margin-top: 12px;
}
.product-content-right-product-button button {
    border: 1px solid #fcd203;
    border-radius: 0;
    text-align: center;
    letter-spacing: 1px;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    padding: 7px 15px;
    line-height: 22px;
    width: 40%;
    margin-right: 2%;
    cursor: pointer;
    background-color:#fcd203;
    transition: all 0.5s ease;
    ;
}
.description-content {
    margin: 12px 0;
}
.description-content p {
    line-height: 2.1!important;
    margin-bottom: 10px!important;
    letter-spacing: 0!important;
    font-size: 1rem!important;
}
/* product bottom  */
.product-bottom {
    margin-top: 40px;
    margin-bottom: -80px;
}
 .policy-item {
     margin-top: 12px;
     border-top: 1px solid #ccc ;
     padding: 12px 6px;
     line-height: 2.1 !important;
     font-family:'Quicksand', sans-serif; 
 }
 .policy-item h4 {
     font-size: 16px;
     font-weight: 500;
     text-transform: uppercase;
 }
 /* below info  */
 .info-below-product {
     margin-top: 20px;
     width: 100%;
     
 }
 .banner-info-product {
     max-width: 30%;
     padding: 20px;
     display: flex;
     border: 1px solid #000;
     margin: 0 25px;
 }
.img-info {
    width: 80px;
    height: 50px;
    padding: 0 12px;
}
.img-info img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-info p {
font-size: 16px;
font-weight: 800;
}
/* san pham cung danh muc  */
.suggest-products  {
    margin-top: 20px;
}
.suggest-products h2 {
    font-family: 'Quicksand', sans-serif;
    margin: 20px 0;
    color: #050505;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
    padding-top: 12px;
    font-size: 30px;
}
.new-products-content-item {
    width: 100%;
}
.new-products-content-item  {
   width: 300px;
   padding: 0 12px;
}
.new-products-content-item img {
    max-width: 100%;
}














